## ChartID: signalfx_list_chart.{{ id }}.id
resource "signalfx_list_chart" "{{ id }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    {% if options.colorBy != "" %}
    color_by            = "{{ options.colorBy }}"
    {% endif %}
    {% if options.maximumPrecision %}
    max_precision       = {{ options.maximumPrecision if options.maximumPrecision is not none }}
    {% endif %}
    {% if options.programOptions and options.programOptions.disableSampling %}
    disable_sampling    = {{ options.programOptions.disableSampling|lower }}
    {% endif %}
    {% if refreshInterval %}
    refresh_interval    = {{ refreshInterval }}
    {% endif %}

    {% if options.unitPrefix %}
    unit_prefix         = "{{ options.unitPrefix }}"
    {% endif %}
    {% if options.secondaryVisualization != "" %}
    secondary_visualization = "{{ options.secondaryVisualization }}"
    {% endif %}

    {% if options.legendOptions and options.legendOptions.fields and options.legendOptions.fields | length > 0 %}
    {% for field in options.legendOptions.fields %}
    legend_options_fields {
      enabled         = {{ field.enabled|lower }}
      property        = "{{ field.property }}"
    }

    {% endfor %}
    {% endif %}

    program_text = <<-EOF
{{ programText }}
    EOF
}

