## ChartID: signalfx_time_chart.{{ id }}.id
resource "signalfx_time_chart" "{{ id }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    plot_type           = "{{ options.defaultPlotType }}"
    {% if options.unitPrefix %}
    unit_prefix         = "{{ options.unitPrefix }}"
    {% endif %}
    {% if options.colorBy != "" %}
    color_by            = "{{ options.colorBy }}"
    {% endif %}
    {% if options.programOptions and options.programOptions.minimumResolution %}
    minimum_resolution  = {{ options.programOptions.minimumResolution }}
    {% endif %}
    {% if options.programOptions and options.programOptions.disableSampling %}
    disable_sampling    = {{ options.programOptions.disableSampling|lower }}
    {% endif %}
  

    {% for vopts in options.publishLabelOptions %}
    viz_options {
      {% if vopts.label %}
      label = "{{ vopts.label }}"
      {% endif %}
      {% if vopts.paletteIndex %}
      color = "{{ resolve_color(vopts.paletteIndex)|string }}"
      {% endif %}
      {% if vopts.yAxis %}
      axis = {{ vopts.yAxis }}
      {% endif %}
      {% if vopts.plotType %}
      plot_type = {{ vopts.plotType }}
      {% endif %}
      {% if vopts.valueUnit %}
      value_unit = "{{ vopts.valueUnit }}"
      {% endif %}
      {% if vopts.valueSuffix %}
      value_suffix = "{{ vopts.valueSuffix }}"
      {% endif %}
      {% if vopts.valuePrefix %}
      value_prefix = "{{ vopts.valuePrefix }}"
      {% endif %}
    }
    {% endfor %}

    {% if options.histogramChartOptions %}
    histogram_options {
      color_theme = "{{ resolve_color(options.histogramChartOptions.colorThemeIndex )}}"
    }
    {% endif %}

    {% if options.legendOptions and options.legendOptions.fields and options.legendOptions.fields | length > 0 %}
    {% for field in options.legendOptions.fields %}
    legend_options_fields {
      enabled         = {{ field.enabled|lower }}
      property        = "{{ field.property }}"
    }
    {% endfor %}
    {% endif %}

    show_event_lines    = {{ options.showEventLines|lower  }}
    {% if options.areaChartOptions.showDataMarkers or options.lineChartOptions.showDataMarkers %}
    show_data_markers = true
    {% endif %}
    {% if options.maximumPrecision %}
    max_precision       = {{ options.maximumPrecision if options.maximumPrecision is not none }}
    {% endif %}
    {% if refreshInterval %}
    refresh_interval    = {{ refreshInterval }}
    {% endif %}

    program_text = <<-EOF
{{ programText }}
    EOF
}

